# EditorConfig for RadiusApp Android Project
# https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

# Kotlin files
[*.kt]
indent_size = 4
max_line_length = 120

# Java files
[*.java]
indent_size = 4
max_line_length = 120

# XML files (Android layouts, manifests, etc.)
[*.xml]
indent_size = 4
max_line_length = 120

# Gradle files
[*.gradle]
indent_size = 4

# Properties files
[*.properties]
indent_size = 4

# JSON files
[*.json]
indent_size = 2

# Markdown files
[*.md]
indent_size = 2
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_size = 2
